.infoBox {
  position: fixed;
  top: 10px; left: 10px;
  background: lavender;
  text-align: center;
  min-width:660px;
  min-height:200px;
  max-width:600px;
  max-height:200px;
  padding: 10px;
  border: 2px solid black;
  }

.scroll_container {
  border-style: solid;
  margin:auto;
  width:115vh;
  height:95vh;
  overflow:auto;
}

.latex_label {
  text-align: center;
  font-family:Times;
  font-size:45px
}

#diagram {
  margin: auto;
}
